
.Rproj.user/B15B1AD3/console06/INDEX001
.Rproj.user/B15B1AD3/pcs/files-pane.pper
.Rproj.user/B15B1AD3/pcs/source-pane.pper
.Rproj.user/B15B1AD3/pcs/windowlayoutstate.pper
.Rproj.user/B15B1AD3/pcs/workbench-pane.pper
.Rproj.user/B15B1AD3/persistent-state
.Rproj.user/B15B1AD3/rmd-outputs
.Rproj.user/B15B1AD3/saved_source_markers
.Rproj.user/B15B1AD3/sources/per/t/7B588F4E
.Rproj.user/B15B1AD3/sources/per/t/7B588F4E-contents
.Rproj.user/B15B1AD3/sources/prop/5A96A260
.Rproj.user/B15B1AD3/sources/prop/67CB63CB
.Rproj.user/B15B1AD3/sources/prop/INDEX
.Rproj.user/shared/notebooks/4DEC0FF6-PA1_template/1/B15B1AD37C754931/chunks.json
.Rproj.user/shared/notebooks/4DEC0FF6-PA1_template/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.RData
.Rhistory
activity.csv
RepData_PeerAssessment1.Rproj
rsconnect/documents/PA1.Rmd/rpubs.com/rpubs/Document.dcf
